.cart-item {
    background: var(--primary-color-light-2);
}

.product-img {
    width: 80px;
}

.quantity {
    div {
        width: 117px;
        height: 38px;
        background: var(--primary-color-light-4);;
        border-radius: 20px;

        a {
            text-decoration: none;
            cursor: pointer;
            font-size: 24px;
            color: var(--secondary-color-light-2);

            &:hover {
                color: var(--secondary-color);
            }

            &.disable {
                color: var(--light-color);
            }
        }
    }
}

#cart-resume {
  overflow: auto;
  height: auto;

  #cart-resume-bg {
    width: 100%;
    height: auto;
  }

  .cart-resume-info {
    position: absolute;
    top: 15%;
    p,
    h3 {
      color: var(--light-color);
      font-weight: bold;
    }

    button {
      background: var(--complementary-color-dark-1) !important;
    }
  }
}

.delivery-data p {
  font-size: .89em;
}

div.table-container {
  height: 690px;
  overflow: auto;
}

