<app-header></app-header>
<section class="px-0">

    <div class="page-section px-0 position-relative d-flex justify-content-between align-items-start mt-5 pt-5">

        <div class="col-md-7 offset-1">
            <h1 class="mt-4">
                <img src="assets/images/header/ship-cart.svg" alt="cart" />
                Meu Carrinho
            </h1>

            <div class="table-container">
              <ng-container *ngIf="products.length > 0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                        <th> Produto </th>
                        <th> Descrição </th>
                        <th> Qtd </th>
                        <th> Preço </th>
                        <th> Subtotal </th>
                        <th> Ação </th>
                    </tr>
                  </thead>

                  <tbody>
                      <ng-container *ngFor="let product of products">
                          <tr class="col-md-12">
                              <td class="">
                                  <img [src]="product.avatar_url" class="product-img" alt="">
                              </td>
                              <td class=""> {{ product.title }} </td>
                              <td class="d-flex justify-content-between align-content-center quantity">
                                  <div class="d-flex align-items-center justify-content-around">
                                      <a (click)="updateQtd(product, false, $event)">-</a>
                                      <span>{{product.qtd}}</span>
                                      <a (click)="updateQtd(product, true, $event)">+</a>
                                  </div>
                              </td>
                              <td class=""> {{ product.price | currency: 'BRL' }} </td>
                              <td class=""> {{ product.total | currency: 'BRL' }} </td>
                              <td class=""> <a (click)="removeProduct(product, $event)" class="text-danger" href="#"> Remover </a>
                              </td>
                          </tr>
                      </ng-container>
                  </tbody>

                </table>

              </ng-container>

              <ng-container *ngIf="products.length === 0">
                  <div class="alert alert-info">
                      <p class="text-center"> O carrinho esta vazio! </p>
                  </div>
              </ng-container>
            </div>

        </div>

        <div id="cart-resume" class="col-md-4 position-relative px-0">
          <img id="cart-resume-bg" src="assets/images/products/cart/resume-bg.svg" alt="">

          <div class="col-md-8 offset-2 cart-resume-info h-75 d-flex flex-column justify-content-between align-items-center">
            <div class="w-100">
              <div class="d-flex justify-content-between align-items-center">
                <p class="px-0 d-flex justify-content-start col-md-6"> Subtotal </p>
                <p class="px-0 d-flex justify-content-end col-md-6"> {{ totalValue() | currency:'BRL' }} </p>
              </div>

              <div *ngIf="customer !== null" class="d-flex justify-content-between align-items-center">
                <p class="px-0 d-flex justify-content-start col-md-6"> Endereço </p>
                <div class="form-group">
                  <select class="form-control" [(ngModel)]="selectedAddress" >
                    <option value="" disabled>Escolha o endereço para entrega</option>
                    <option *ngFor="let a of customer?.addresses" [value]="a.id">
                      {{a.street}} - {{a.number}}, {{a.state}}, CEP: {{a.zipcode}}</option>
                  </select>
                </div>
              </div>

              <h3> Entrega </h3>
              <div class="d-flex justify-content-between align-items-center delivery-data">
                <p class="px-0 d-flex justify-content-start align-items-center col-md-8">
                  <input [(ngModel)]="deliveryInput" value="PAC" type="radio" name="delivery" id="option-1">
                  &nbsp; <label for="option-1" class="d-flex mb-0"> PAC: Ate 10 dias uteis </label> </p>
                <p class="px-0 d-flex justify-content-end col-md-4"> {{ 10 | currency:'BRL' }} </p>
              </div>
              <div class="d-flex justify-content-between align-items-center delivery-data">
                <p class="px-0 d-flex justify-content-start align-items-center col-md-8">
                  <input [(ngModel)]="deliveryInput" value="SEDEX" type="radio" name="delivery" id="option-2">
                  &nbsp; <label for="option-2" class="d-flex mb-0"> SEDEX: Ate 1 dia util </label> </p>
                <p class="px-0 d-flex justify-content-end col-md-4"> {{ 100 | currency:'BRL' }} </p>
              </div>
            </div>

            <div class="w-100 mb-5">
              <div class="d-flex justify-content-between align-items-center">
                <p class="d-flex justify-content-start col-md-6"> Total </p>
                <p class="d-flex justify-content-end col-md-6"> {{ totalValue() | currency:'BRL' }} </p>
              </div>

              <button
              [disabled]="checkCartIsValid()"
              (click)="sendToCheckout($event);"
              class="btn btn-success w-100 font-weight-bold"> Avançar </button>

              <a class="text-center d-block font-weight-bold text-light mt-4"
              [routerLink]="['/products']"> Continuar comprando </a>
            </div>

          </div>

        </div>

    </div>

</section>
<app-footer></app-footer>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Carrinho de compras </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center"> Nao existem produtos no seu carrinho </p>
  </div>
  <div class="modal-footer modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()"> Continuar Comprando </button>
  </div>
</ng-template>
