<app-header></app-header>
<div class="container px-0 position-relative mt-5 pt-5">
    <div id="verify-email" class="d-flex justify-content-between align-items-center">
        <div class="col-md-6">
            <div class="col-8 offset-2 mt-4">
                <h3>Obrigado por se registrar</h3>
                
                <form class="mt-4" action="">
                    <div class="form-group" *ngIf="authService.userData as user">
                        <p class="text-left">Nós enviamos um email de confirmação para: <strong>{{user.email}}</strong>.</p>
                        <p class="text-left">Por favor, verifique o seu email e clique no link para realizar a verificação do email.</p>
                    </div>

                    <!-- Calling SendVerificationMail() method using authService Api -->
                    <div class="form-group">
                        <p class="text-left"><a class="redirect" (click)="authService.SendVerificationMail()">Enviar novamente email de verificação</a></p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-8 offset-2 mt-4">
                <p class="text-center"> <a class="redirect" href="/sign-in"> Voltar para Login </a></p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>