<app-header></app-header>
<section class="container px-0">

    <section class="page-section col-md-12 mt-0 px-0 d-flex justify-content-between align-items-top">

        <div class="product d-flex flex-column col-md-6 px-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <ng-container *ngFor="let category of product.categories">
                        <li class="breadcrumb-item">
                            <a href="#">{{category}}</a>
                        </li>
                    </ng-container>
                
                </ol>
            </nav>

            <div class="selected-product">
                <img src={{product.image}} alt="produto">
            </div>
           
            <div class="d-flex">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="product-info justify-content-between col-md-6 px-0 ml-5">
            <h2> {{product.title}} </h2>

            <ul class="pl-2">
                <ng-container *ngFor="let detail of product.details">
                    <li>{{detail}} </li>
                </ng-container>
            </ul>

            <div class="options mx-0 px-0 d-flex align-items-center justify-content-between mt-3 col-md-6">
                <ng-container *ngFor="let variant of product.variant; let i = index">
                    <button #btnOptions (click)="filter($event.target, $event, i)" [ngClass]="{'selected': i === 0}" class="btn mx-2">{{variant.unit}}</button>
                </ng-container>
            </div>

            <div class="quantity d-flex px-0 align-items-center justify-content-between mt-3 col-md-6">
                <span>Quantidade</span>

                <div class="d-flex align-items-center justify-content-around">
                    <a (click)="sub($event.target, $event)">-</a>
                       <span>{{quantity}}</span>
                    <a (click)="plus($event.target, $event)">+</a>
                </div>
            </div>

            <div class="discount d-flex px-0 align-items-center justify-content-between mt-3 col-md-6">
                <button>{{product.variant[variantIndex].percent_promotional}}% OFF</button>
                <span>{{product.variant[variantIndex].price | currency: 'BRL'}}</span>
            </div>

            <p class="total mt-3">{{total | currency: 'BRL'}}</p>

            <button (click)="addItemToCart()" class="btn-buy col-md-10">Comprar</button>
        </div>

    </section>

    <section class="description page-section col-md-12 mt-5 px-0">
        <h2>Descrição</h2>
        <p>{{product.description}}</p>
    </section>

    <section class="specifications page-section col-md-12 mt-5 px-0">
        <h2>Especificações</h2>

        <table class="table table-sm">
            <tbody>
                <ng-container *ngFor="let especification of product.especifications">
                    <tr>
                        <th scope="row">{{especification.title}}</th>
                        <td>{{especification.description}}</td>
                    </tr>
                </ng-container>
            </tbody>
          </table>
    </section>
</section>
<app-footer></app-footer>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Produto </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-center"> O produto foi adicionado ao carrinho! </p>
    </div>
    <div class="modal-footer modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()"> Continuar Comprando </button>
        <a [routerLink]="['/products/cart']" (click)="modal.close()"> Carrinho de Compras </a>
    </div>
</ng-template>