<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/admin/dashboard">Petshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-between align-items-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto col-lg-10">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/dashboard"> Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/products"> Produtos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/categories"> Categorias </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto col-lg-2">
      <li class="nav-item d-block w-100">
        <a href="" (click)="logout($event)" class="nav-link text-danger text-right"> Logout </a>
      </li>
    </ul>
  </div>
</nav>
