.slider-products-holder {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.slider-canvas {
  transition: .6s all ease-in-out;
}

.box-product {

  width: 32%;
  min-width: 290px;
  margin-right: 11%;

  background: var(--light-color);
  box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px
}


.box-image-holder {
  width: 100%;
  height: auto;
  background: url('src/assets/images/products/box-effect.svg') no-repeat;
  background-position: 0px 30px;
  background-size: contain;
}

// buttons control
.slider-button {
  height: 100%;
  width: 40px;
  top: 0%;
  position: absolute;
}

.slider-button.prev-button {
  left: -7%;
  background: url('src/assets/images/slider/prev.svg') no-repeat 0% 50% !important;
}

.slider-button.next-button {
  right: -7%;
  background: url('src/assets/images/slider/next.svg') no-repeat 0% 50% !important;
}

.title,
.price {
  color: var(--gray-3);
}

.description {
  color: var(--gray-1);
}


.slider-products-holder button {
  color: var(--light-color);
  background: var(--secondary-color-light-1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  transition: background-color 0.2s;

  &:hover {
    background: var(--secondary-color);
  }
}
