<header class="col-md-12 px-0">
  <svg viewBox="0 0 1440 604" fill="none" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_iif)">
      <path
        d="M0 21H1440V404.786C1440 404.786 1360.62 344.928 1118 404.786C1007 432.172 892.636 343.576 751.5 390.335C472 504.5 499 327.806 253.5 404.786C8 481.767 0 404.786 0 404.786V21Z"
        fill="url(#paint0_radial)" />
    </g>
    <g filter="url(#filter1_iif)">
      <path
        d="M0 3H1440V386.786C1440 386.786 1360.62 326.928 1118 386.786C1007 414.172 892.636 325.576 751.5 372.335C472 486.5 499 309.806 253.5 386.786C8 463.767 0 386.786 0 386.786V3Z"
        fill="url(#paint1_radial)" />
    </g>
    <defs>
      <filter id="filter0_iif" x="-3" y="6" width="1446" height="453" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="20" />
        <feGaussianBlur stdDeviation="20" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="-15" />
        <feGaussianBlur stdDeviation="20" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
        <feBlend mode="normal" in2="effect1_innerShadow" result="effect2_innerShadow" />
        <feGaussianBlur stdDeviation="1.5" result="effect3_foregroundBlur" />
      </filter>
      <filter id="filter1_iif" x="-3" y="-12" width="1446" height="453" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="20" />
        <feGaussianBlur stdDeviation="20" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha" />
        <feOffset dy="-15" />
        <feGaussianBlur stdDeviation="20" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
        <feBlend mode="normal" in2="effect1_innerShadow" result="effect2_innerShadow" />
        <feGaussianBlur stdDeviation="1.5" result="effect3_foregroundBlur" />
      </filter>
      <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(720 21) rotate(90) scale(349.5 710.251)">
        <stop stop-color="#6DB2C7" />
        <stop offset="1" stop-color="#499FBA" />
      </radialGradient>
      <radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
        gradientTransform="translate(720 3.00002) rotate(90) scale(349.5 710.251)">
        <stop stop-color="#6DB2C7" />
        <stop offset="1" stop-color="#499FBA" />
      </radialGradient>
    </defs>
  </svg>

  <div class="container px-0 content">
    <ul class="d-flex row col-md-12 px-0 justify-content-between align-items-center list-unstyled px-0 d-block mt-2 header-category-list">
      <li> <a [routerLink]="['/products']"> Cachorros </a> </li> <span>|</span>
      <li> <a [routerLink]="['/products']"> Gatos </a> </li> <span>|</span>
      <li> <a [routerLink]="['/products']"> Pássaros </a> </li> <span>|</span>
      <li> <a [routerLink]="['/products']"> Aquarismo </a> </li> <span>|</span>
      <li> <a [routerLink]="['/products']"> Roedores </a> </li> <span>|</span>
      <li> <a [routerLink]="['/products']"> Outros pets </a> </li>
    </ul>

    <div class="d-flex row col-md-12 px-0 justify-content-between align-items-center">
      <div class="col-md-11">
        <h1 class="text-center title">
          <a [routerLink]="['/']"> Puppy Place </a>
        </h1>
      </div>

      <div class="d-flex col-md-1 justify-content-between px-0">
        <img class="avatar" src="assets/images/header/avatar.png" alt="avatar" />
        <img class="shop-cart" src="assets/images/header/ship-cart.svg" alt="cart" />
      </div>
    </div>

    <div class="d-flex col-md-12 justify-content-center px-0 px-0 mt-4">
      <input class="search-input form-control col-md-9" type="text">
    </div>
  </div>
</header>
