<header class="col-md-12 px-0 header-page">
  <div class="container px-0">
    <div class="d-flex row col-md-12 px-0 justify-content-between align-items-center">

      <div class="col-md-3 px-0">
        <span> LOGO </span>
      </div>

      <div class="col-md-7">
        <h1 class="text-center"> Puppy Place </h1>
      </div>

      <div class="d-flex row col-2 justify-content-between px-0">
        <div> AVATAR </div>
        <div> CARRINHO </div>
      </div>

    </div>

    <div class="d-flex row col-md-12 px-0 justify-content-between mt-4 px-0 mx-0 align-items-center header-category-container">

      <ul class="d-flex row col-md-8 px-0 justify-content-between list-unstyled px-0 d-block align-items-center mt-3 header-category-list">
        <li> Cachorros </li>
        <li> Gatos </li>
        <li> Pássaros </li>
        <li> Aquarismo </li>
        <li> Roedores </li>
        <li> Outros Pets </li>
      </ul>

      <input class="form-control col-md-4 search-input" type="text">

    </div>
  </div>
</header>
