<header class="col-md-12 px-0">

  <svg viewBox="0 0 1440 600" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path 
      class="path-1"
      fill-rule="evenodd" 
      clip-rule="evenodd"
      d="M1440 299.001L-0.000640207 299L-0.000976562 615.5C-0.000976562 615.5 192.257 423.05 680 476.5C1167.74 529.949 1440 445.043 1440 445.043L1440 299.001Z" />

    <path 
      class="path-2"
      fill-rule="evenodd" 
      clip-rule="evenodd"
      d="M1440 66H0.00132734L0 524.5C0 524.5 261.914 351.662 739.26 435.082C1216.6 518.502 1440 444.042 1440 444.042V66Z" />

    <path
      class="path-3" 
      d="M0 0H1440V443.543C1440 443.543 1211 502.844 737.5 396.309C264 289.773 0 443 0 443V0Z"
      fill="url(#paint0_linear)" />
    <defs>

      <linearGradient id="paint0_linear" x1="718.5" y1="-2" x2="718.5" y2="460" gradientUnits="userSpaceOnUse">

        <stop stop-color="#EB8B73" />
        <stop offset="0.279471" stop-color="#E76F51" />
      </linearGradient>
    </defs>
  </svg>
  
  <div class="container px-0 content">
    <div class="d-flex row col-md-12 px-0 justify-content-between align-items-center">

      <div class="col-md-3 px-0 ">
        <span> LOGO </span>
      </div>

      <div class="col-md-7">
        <h1 class="text-center"> Puppy Place </h1>
      </div>

      <div class="d-flex row col-2 justify-content-between px-0">
        <div> AVATAR </div>
        <div> CARRINHO </div>
      </div>

    </div>

    <div class="d-flex row col-md-12 px-0 justify-content-between mt-4 px-0 mx-0 align-items-center header-category-container">

      <ul
        class="d-flex row col-md-8 px-0 justify-content-between list-unstyled px-0 d-block align-items-center mt-3 header-category-list">
        <li> Cachorros </li>
        <li> Gatos </li>
        <li> Pássaros </li>
        <li> Aquarismo </li>
        <li> Roedores </li>
        <li> Outros pets </li>
      </ul>

      <input class="form-control col-md-4 search-input" type="text">

    </div>
  </div>
</header>