<section class="col-lg-12 vh-100">
  <div class="container mt-5">
    <h3> Categoria </h3>

    <form action="">

      <div class="form-group">
        <input placeholder="Nome" [(ngModel)]="categoryName" name="name" id="name" type="text" class="form-control">
      </div>

      <button
      [disabled]="categoryName === ''"
      (click)="finishForm($event)"
      class="btn btn-primary">
        <ng-container *ngIf="upadteFlag">
          Atualizar Categoria
        </ng-container>
        <ng-container *ngIf="!upadteFlag">
          Cadastrar Categoria
        </ng-container>
      </button>
    </form>

  </div>
</section>
