<app-header></app-header>
<div class="container px-0 position-relative mt-5 pt-5">
    <div id="forget-password" class="d-flex justify-content-between align-items-center">
        <div class="col-md-6">
            <div class="col-8 offset-2 mt-4">
                <h3>Trocar senha</h3>
                
                <form class="mt-4" action="">
                    <div class="form-group">
                        <label for="email">Digite o seu email:</label>
                        <input type="email" class="form-control" placeholder="email" #passwordResetEmail required>
                    </div>
                    
                    <!-- Calling ForgotPassword from AuthService Api -->
                    <button class="btn btn-success col-md-8 px-0 offset-2 font-weight-bold forgotPassword"
                        (click)="forgotPassword(passwordResetEmail.value)"> Alterar a senha </button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-8 offset-2 mt-4">

                <!-- <div class="redirectToLogin">
                    <p class="text-center mb-0 mt-2">Voltar para <a class="redirect" href="/sign-in">Login</a></p>
                </div> -->
                <p class="text-center"> <a class="redirect" href="/sign-in"> Voltar para Login </a> </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>