.recover-alert {
  display: none;

  &.recover-alert-show {
    display: block !important;
  }
}

form button {
  background: var(--complementary-color) !important;
}

#forget-password .col-md-6:first-child {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 25%;
    right: -5%;
    height: 50%;
    border-right: solid 1px var(--gray-1);
  }
}