<app-header></app-header>
<section class="container px-0 page-section position-relative">

  <ng-container *ngFor="let paw of paws; let i = index">
    <app-paw
        [size]= paw.size
        [color]=paw.color
        [angle]=paw.angle
        [position]=paw.position>
      </app-paw>
  </ng-container>

  <div class="d-flex justify-content-between align-items-start flex-wrap mt-5">
    <div class="col-lg-3">
      <app-product-list-manager></app-product-list-manager>
    </div>
    <div class="col-lg-9 px-0">

      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <ng-container *ngFor="let product of products; let i = index">
          <div class="box-product py-3 px-4">
            <div class="box-image-holder">
              <img class="w-50 offset-4" [src]="product.image">
            </div>
            <div class="mt-3">
              <p class="font-weight-bold title"> <span> {{ product.title }} </span> </p>
              <p class="description"> {{ product.description }} </p>
              <p class="font-weight-bold price"> {{ product.amount | currency: 'BRL' }} </p>
              <a [routerLink]="['/products/' + i]" class="btn col-md-12 product-button"> Ver produto </a>
            </div>
          </div>
        </ng-container>
      </div>

      <ul id="pagination" class="list-unstyled d-flex justify-content-end align-items-center mt-3">
        <li class="mx-2 pagination-num"> ◄ </li>
        <li class="mx-2 pagination-num active"> 1 </li>
        <li class="mx-2 pagination-num "> 2 </li>
        <li class="mx-2 pagination-num "> 3 </li>
        <li class="mx-2 pagination-num "> 4 </li>
        <li class="mx-2 pagination-num"> ► </li>
      </ul>
    </div>
  </div>

</section>
<app-footer></app-footer>
