<section class="col-lg-12">
  <div class="container">
    <div class="mt-5">
      <h3 class="float-left"> Produtos </h3>
      <a class="btn btn-secondary float-right" routerLink="/admin/product"> Novo produto </a>
      <table class="table table-striped">
        <thead class="thead-dark">
          <th> Nome </th>
          <th> Categoria </th>
          <th> Descricao </th>
          <th> Valor </th>
          <th> Acao </th>
        </thead>
        <tbody>
          <ng-container *ngFor="let product of products">
            <tr>
              <td> {{ product.name }} </td>
              <td> {{ product.category }} </td>
              <td> {{ product.description }} </td>
              <td> {{ product.value | currency: 'BRL' }} </td>
              <td> <button (click)="goToProduct(product.id)" class="btn btn-primary"> ver </button> </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</section>
