<div class="container px-0 position-relative mt-5 pt-5">

  <div id="login-stages" class="d-flex justify-content-between align-items-center">
    <div class="col-md-6">
      <div id="login-form" class="col-8 offset-2 mt-4">
        <h3> Login </h3>

        <form class="mt-4" action="">

          <div class="form-group">
            <label for="username"> Usuario: </label>
            <input type="text" class="formControl" placeholder="Username" #userName required>
          </div>
          <div class="form-group">
            <label for="password"> Senha: </label>
            <input type="password" class="formControl" placeholder="Password" #userPassword required>
          </div>
        
          
          <button class="btn btn-success col-md-8 px-0 offset-2 font-weight-bold forgotPassword"> Fazer Login </button>
          <p class="text-center mb-0 mt-2">
            <a href="/forgot-password"> Esqueci a senha </a>
          </p>
        </form>

      </div>
    </div>

    <div class="col-md-6">
      <div class="col-8 offset-2 mt-4">
        <p class="text-center"> Não tem cadastro? </p>
        <p class="text-center"> <a  class="redirect" href="/register-user"> Clique aqui e faça o seu cadastro! </a> </p>
      </div>
    </div>
  </div>
</div>