<footer class="col-md-12 px-0">
    <svg class="background" viewBox="0 0 1440 400" fill="none" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none">
        <g filter="url(#filter-footer)">
            <path
                d="M0 38.2849C0 38.2849 74 107.285 242.5 31.2845C367 -28.2155 455 20.978 521 44.6578C652 91.6574 699.5 -20.3428 882 18.7841C1056.5 73.7841 1142 54.1571 1142 54.1571C1214.5 34.6576 1330 -16.2159 1440 38.2849V417.285H0V38.2849Z"
                fill="url(#paint_radial-1_footer)" />
        </g>
        <g filter="url(#filter_footer_iif)">
            <path
                d="M0 56.2849C0 56.2849 74 125.285 242.5 49.2845C367 -10.2155 455 38.978 521 62.6578C652 109.657 699.5 -2.34285 882 36.7841C1056.5 91.7841 1142 72.1571 1142 72.1571C1214.5 52.6576 1330 1.7841 1440 56.2849V435.285H0V56.2849Z"
                fill="url(#paint_radial-2_footer)" />
        </g>
        <defs>
            <filter id="filter-footer" x="-3" y="-12" width="1446" height="449.285" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dy="20" />
                <feGaussianBlur stdDeviation="20" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dy="-15" />
                <feGaussianBlur stdDeviation="20" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                <feBlend mode="normal" in2="effect1_innerShadow" result="effect2_innerShadow" />
                <feGaussianBlur stdDeviation="1.5" result="effect3_foregroundBlur" />
            </filter>
            <filter id="filter_footer_iif" x="-3" y="6" width="1446" height="449.285" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dy="20" />
                <feGaussianBlur stdDeviation="20" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                <feOffset dy="-15" />
                <feGaussianBlur stdDeviation="20" />
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.3 0" />
                <feBlend mode="normal" in2="effect1_innerShadow" result="effect2_innerShadow" />
                <feGaussianBlur stdDeviation="1.5" result="effect3_foregroundBlur" />
            </filter>
            <radialGradient id="paint_radial-1_footer" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(720 1.6563) rotate(90) scale(367.063 720)">
                <stop stop-color="#6D85C7" />
                <stop offset="1" stop-color="#4967BA" />
            </radialGradient>
            <radialGradient id="paint_radial-2_footer" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(720 19.6563) rotate(90) scale(367.063 720)">
                <stop stop-color="#6D85C7" />
                <stop offset="1" stop-color="#4967BA" />
            </radialGradient>
        </defs>
    </svg>

    <div class="content container d-flex justify-content-around pb-5">

        <div>
            <!-- <div class="p-3">Lorem ipsum dolor sit</div>
            <div class="p-3">Lorem ipsum dolor sit</div>
            <div class="p-3">Lorem ipsum dolor sit</div> -->
        </div>

        <div>
            <h1 class="text-center title">
              <a [routerLink]="['/']"> Puppy Place </a>
            </h1>
            <!-- <div class="p-3">Lorem ipsum dolor sit</div>
            <div class="p-3">Lorem ipsum dolor sit</div>
            <div class="p-3">Lorem ipsum dolor sit</div> -->
        </div>

        <div>
            <!-- <div class="p-3"> </div>
            <div class="p-3">Lorem ipsum dolor sit</div>
            <div class="p-3">Lorem ipsum dolor sit</div> -->
        </div>
    </div>
</footer>
