.page-section {
  margin-top: 15em;
}

.btn-filter {
  box-shadow: 0px 4px 4px var(--transparent-color);
  border-radius: 25px;
  &.primary {
    background: var(--primary-color);
    color: var(--light-color);
  }
}

form input, select {
  color: var(--gray-2);
  background: var(--secondary-color-light-3);
}

form input::placeholder {
  color: var(--secondary-color);
}

form button {
  background: var(--complementary);
}