<app-header></app-header>
<section class="container px-0">

  <!-- slider principal -->
  <div class="page-section">

    <ngb-carousel #slider [showNavigationIndicators]="true" [wrap]="true" [interval]="0" [animation]="true">
      <ng-container *ngFor="let slide of carouselData; let i = index">

        <ng-template ngbSlide>
          <div class="col-md-12 mx-0 px-0 d-flex justify-content-between align-items-center">
            <div class="col-md-8 mx-0 px-0">
              <h2> {{ slide.title }} </h2>
              <p class="mt-2"> {{ slide.description }} </p>
            </div>
            <div class="col-md-4 mx-0 px-0 d-flex justify-content-end">
              <img [src]="slide.image" [alt]="'slider image ' + i">
            </div>
          </div>
        </ng-template>

      </ng-container>
    </ngb-carousel>

  </div>
  <!-- slider principal (end) -->

  <!-- carrosel de produtos -->
  <div class="page-section col-md-12 mx-0 px-0 d-flex justify-content-start align-items-center product-list">
    <div class="col-5 px-0">
      <h3> Mais Vendidos </h3>
    </div>
    <div class="col-7 col-md-12 mx-0 px-0 d-flex justify-content-start align-items-center">
      <a #btnFilter href="#" (click)="filter($event.target, $event)" class="btn-filter btn primary mx-2 px-4"> Cachorros </a>
      <a #btnFilter href="#" (click)="filter($event.target, $event)" class="btn-filter btn btn-light mx-2 px-4"> Gatos </a>
      <a #btnFilter href="#" (click)="filter($event.target, $event)" class="btn-filter btn btn-light mx-2 px-4"> Passaros </a>
    </div>
  </div>
  <app-product-slider [products]="carouselProductsData"></app-product-slider>
  <!-- carrosel de produtos (end) -->

  <!-- formulario -->
  <div class="page-section col-md-12 mx-0 px-0 d-flex justify-content-between align-items-center">
    <div class="col-md-6 px-0">
      <img class="w-100" src="assets/images/home/form-effect.svg" alt="">
    </div>
    <div class="col-md-6 px-0">
      <form class="form col-md-10 offset-1">
        <div class="form-group">
          <input type="text" placeholder="Nome" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Celular" class="form-control">
        </div>
        <div class="form-group">
          <select class="form-control" name="" id="">
            <option value="">Produtos / Servicos</option>
          </select>
        </div>
        <button class="btn col-md-12"> Enviar dados </button>
      </form>
    </div>
  </div>

</section>

<app-footer></app-footer>