<app-header></app-header>

<div class="container px-0 position-relative mt-5 pt-5">

  <div id="login-stages" class="d-flex justify-content-between align-items-center">
    <div class="col-md-12">
      <div id="login-form" class="col-md-4 offset-4 mt-4">
        <h3> Mudar a Senha </h3>

        <form class="mt-4" action="">
          <p> Informe a nova senha: </p>

          <div
          [ngClass]="{'recover-alert-show': showAlert}"
          class="alert-success p-2 mb-2 recover-alert">
            <p class="text-succes p-2 mb-0">
              Senha alterada com sucesso!
            </p>
          </div>

          <div class="d-flex flex-column justify-content-between align-items-center">
            <div class="form-group col-md-12 my-2 px-0">
              <input type="password" placeholder="Nova Senha" name="" id="" class="form-control">
            </div>

            <div class="form-group col-md-12 my-2 px-0">
              <input type="password" placeholder="Confirmar Senha" name="" id="" class="form-control">
            </div>
          </div>

          <div class="col-md-12 px-0">
            <button
            (click)="recover($event)"
            class="btn btn-success w-100 px-0 font-weight-bold"> Enviar </button>
          </div>

        </form>

      </div>
    </div>
  </div>


</div>

<app-footer></app-footer>
