/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
// variaveis
@import './assets/styles/variables.scss';

// components
@import './assets/styles/components.scss';

* {
  font-family: 'Montserrat', 'helvetica', 'arial';
}

body {
  margin: 0;
  background:  linear-gradient(180deg, var(--primary-color-light-3) 24.77%, var(--secondary-color-light-3) 88.35%);
  background-repeat: no-repeat;
  overflow-x: hidden !important;
}
