:root {
  --primary-color-dark-1: #418FA7;
  --primary-color: #499fba;
  --primary-color-light-1: #6db2c7;
  --primary-color-light-2: #a4cfdc;
  --primary-color-light-3: #daebf1;
  --primary-color-light-4: #ecf5f8;


  --secondary-color: #4967BA;
  --secondary-color-light-1: #6d85c7;
  --secondary-color-light-2: #a4b3dc;
  --secondary-color-light-3: #dae0f1;
  --secondary-color-light-4: #eceff8;

  --complementary-color-dark-1: #41a78d;
  --complementary-color: #49BA9D;
  --complementary-color-light-1: #66B8A3;

  --light-color: #F8F9FA;
  --gray-1: #CED4DA;
  --gray-2: #6C757D;
  --gray-3: #495057;
  --gray-4: #212529;

  --transparent-color: rgba(0, 0, 0, 0.25);
}
