:root {
  --primary-color: #E76F51;
  --primary-color-light-1: #EB8B73;
  --primary-color-light-2: #F3B7A8;
  --primary-color-light-3: #FAE2DC;
  --primary-color-light-4: #FCF0ED;

  --secondary-color: #6F51E7;
  --secondary-color-light-1: #8B73EB;
  --secondary-color-light-2: #B7A8F3;
  --secondary-color-light-3: #E2DCFA;
  --secondary-color-light-4: #F0EDFC;

  --complementary: #51E76F;

  --gray-1: #6C757D;
  --gray-2: #495057;
  --gray-3: #2F353B;

  --transparent-color: rgba(0, 0, 0, 0.25);
  --light-color: #F8F9FA;
}
