<footer class="col-md-12 px-0">
    <svg viewBox="0 0 1440 600" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path 
            class="path-1"
            fill-rule="evenodd" 
            clip-rule="evenodd"
            d="M1442.5 266.999L1 461.846L1.05724 267.336C1.05724 267.336 316.657 445.104 725.667 202.661C1134.68 -39.7814 1445.53 3.57779 1445.53 3.57779L1442.5 266.999Z"/>

        <path 
            class="path-2" 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            d="M1438.57 517.284L0 556.779L0.00196167 271.644C0.00196167 271.644 292.818 480.541 722.887 278.167C1152.96 75.794 1444.5 121.499 1444.5 121.499L1438.57 517.284Z"/>
        
        <path 
            class="path-3"
            d="M0 635.504H1443V233.5C1443 233.5 1165 175.569 720 342.569C275 509.569 0 277.719 0 277.719V635.504Z" />
    </svg>

    <div class="container content">

        <div class="row">
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        </div>

        <div class="row">
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        </div>

        <div class="row">
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            <div class="col-6 col-md-4">.col-6 .col-md-4</div>
        </div>
    </div>
</footer>