<footer class="col-md-12 px-0">
    <svg class="background" viewBox="0 0 1440 600" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path 
            class="path-1"
            fill-rule="evenodd" 
            clip-rule="evenodd"
            d="M1442.5 266.999L1 461.846L1.05724 267.336C1.05724 267.336 316.657 445.104 725.667 202.661C1134.68 -39.7814 1445.53 3.57779 1445.53 3.57779L1442.5 266.999Z"/>

        <path 
            class="path-2" 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            d="M1438.57 517.284L0 556.779L0.00196167 271.644C0.00196167 271.644 292.818 480.541 722.887 278.167C1152.96 75.794 1444.5 121.499 1444.5 121.499L1438.57 517.284Z"/>
        
        <path 
            class="path-3"
            d="M0 635.504H1443V233.5C1443 233.5 1165 175.569 720 342.569C275 509.569 0 277.719 0 277.719V635.504Z" />
    </svg>

    <!-- <svg class="background" viewBox="0 0 1440 600" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <g filter="url(#filter0_f)">
            <path 
                fill-rule="evenodd" 
                clip-rule="evenodd"
                d="M1440.08 343.658L0 343.658L0.119455 248.58C0.119455 248.58 311.454 411.338 720.356 192.408C1129.26 -26.521 1440.09 12.7351 1440.09 12.7351L1440.08 343.658Z"
                fill="#B7A8F3" />
        </g>

        <path 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            d="M1440.08 346.658L0 346.658L0.119455 251.58C0.119455 251.58 311.454 414.338 720.356 195.408C1129.26 -23.521 1440.09 15.7351 1440.09 15.7351L1440.08 346.658Z"
            fill="#E2DCFA" />

        <path 
            fill-rule="evenodd" 
            clip-rule="evenodd"
            d="M1440 467.102L0.0217343 467.102L0 248.627C0 248.627 292.816 437.368 722.885 254.521C1152.95 71.6739 1440 112 1440 112V467.102Z"
            fill="#B7A8F3" />

        <path 
            d="M0 571L1440 572V215.5C1440 215.5 1160 155.762 714.996 306.533C269.996 457.304 0 250 0 250V571Z"
            fill="#6F51E7" />
        <defs>
            <filter id="filter0_f" x="-10" x="-10.0938" y="416.515" height="212.001" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="5" result="effect1_foregroundBlur" />
            </filter>
        </defs>
    </svg> -->

    <div class="container content">

        <div class="row">
            <span class="col-6 col-md-4">Lorem ipsum dolor sit</span>
            <span class="col-6 col-md-4">Lorem ipsum dolor sit</span>
            <span class="col-6 col-md-4">Lorem ipsum dolor sit</span>
        </div>

        <div class="row">
            <div class="col-6 col-md-4">Lorem ipsum dolor sit</div>
            <div class="col-6 col-md-4">Lorem ipsum dolor sit</div>
            <div class="col-6 col-md-4">Lorem ipsum dolor sit</div>
        </div>

        <div class="row">
            <div class="col-6 col-md-4">Lorem ipsum dolor sit</div>
            <div class="col-6 col-md-4">Lorem ipsum dolor sit</div>
            <div class="col-6 col-md-4">Lorem ipsum dolor sit</div>
        </div>
    </div>

    <img class="paws paws-1" src="assets/images/global/paws-footer.svg" />
    <img class="paws paws-2" src="assets/images/global/paws-footer.svg" />
    <img class="paws paws-3" src="assets/images/global/paws-footer.svg" />
    <img class="paws paws-4" src="assets/images/global/paws-footer.svg" />
    <img class="paws paws-5" src="assets/images/global/paws-footer.svg" />
    <img class="paws paws-6" src="assets/images/global/paws-footer.svg" />
</footer>