<section class="col-lg-12 vh-100">
  <div class="container mt-5">
    <h3> Produto </h3>

    <ng-container *ngIf="productForm !== undefined">
      <form [formGroup]="productForm" action="">

        <div class="col-lg-12 px-0 mx-0 row justify-content-between align-items-baseline">

          <h4 class="col-lg-12 px-0 mx-0"> Dados basicos </h4>

          <div class="col-lg-12 px-0 mx-0 row justify-content-between align-items-baseline">
            <div class="form-group col-lg-3 pl-0 pr-2">
              <input formControlName="title" placeholder="Nome" name="title" id="name" type="text" class="form-control">
            </div>

            <div class="form-group col-lg-3 pl-0 pr-2">
              <input formControlName="avatar_url" placeholder="Imagem" name="title" id="name" type="string" class="form-control">
            </div>

            <div class="form-group col-lg-3 pl-0 pr-2">
              <input formControlName="product_code" placeholder="Codigo do Produto" name="title" id="name" type="string" class="form-control">
            </div>

            <div class="form-group col-lg-3 pl-0 pr-2">
              <select formControlName="id_categories" name="category" id="category" type="text" class="form-control">
                <option value=""> Selecione uma Categoria </option>
                <ng-container *ngFor="let category of categories">
                  <option [value]="category.id"> {{ category.name }} </option>
                </ng-container>
              </select>
            </div>
          </div>

          <div class="col-lg-12 px-0 mx-0 row justify-content-between align-items-baseline">
            <div class="form-group col-lg-12 pl-0 pr-2">
              <label for=""> Descricao </label>
              <textarea formControlName="description" name="" id="" class="form-control w-100"></textarea>
            </div>
          </div>

        </div>
      </form>

      <form [formGroup]="productVariantForm[0]">
        <div class="col-lg-12 px-0 mx-0 row justify-content-between align-items-baseline">
          <h4 class="col-lg-12 px-0 mx-0"> Variantes do Produto </h4>


          <div class="input-group col-lg-4 pl-0 pr-2">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input formControlName="price" type="number" name="value" id="value" class="form-control" id="inlineFormInputGroup" placeholder="Valor">
          </div>

          <div class="form-group col-lg-4 pl-0 pr-2">
            <input formControlName="unit" placeholder="Unidade" name="title" id="name" type="number" class="form-control">
          </div>

          <div class="form-group col-lg-4 pl-0 pr-2">
            <input formControlName="stock" placeholder="Estoque" name="title" id="name" type="number" class="form-control">
          </div>

          <div class="form-group col-lg-4 pl-0 pr-2">
            <input formControlName="isbn_code" placeholder="Isbn" name="title" id="name" type="string" class="form-control">
          </div>

          <div class="input-group col-lg-4 pl-0 pr-2">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input formControlName="price_promotional" type="number" name="value" id="value" class="form-control" id="inlineFormInputGroup" placeholder="Valor Promocional">
          </div>

          <div class="form-group col-lg-4 pl-0 pr-2">
            <input formControlName="percent_promotional" placeholder="Percentual da Promocao" name="title" id="name" type="string" class="form-control">
          </div>

        </div>
      </form>

      <div class="row mx-0 px-0 justify-content-between align-items-center mt-4">
        <div class="form-group col-lg-6 px-1">
          <button (click)="buildSpecificationProductForm()" class="btn btn-success mr-2"> + </button>
          <label for="description"> Especificacoes: </label>

          <!-- geracao de campos para o form build de especificacoes -->
          <ng-container *ngFor="let form of productSpecificationForm; let i = index">
            <form [formGroup]="form">
              <div class="col-lg-12 row justify-content-between align-items-baseline mt-2">

                <div class="form-group col-lg-12 px-0 mx-0 row justify-content-between align-items-baseline">
                  <input formControlName="title" placeholder="Titulo" name="title" class="form-control col-lg-5">
                  <input formControlName="description" placeholder="Descricao" name="title" class="form-control col-lg-5">
                  <button
                  (click)="removeSpecificationForm(i)"
                  class="btn btn-outline-danger col-lg-1"> &times; </button>
                </div>

              </div>
            </form>
          </ng-container>

        </div>

        <div class="form-group col-lg-6 px-1">
          <button (click)="buildDescriptionProductForm()" class="btn btn-success mr-2"> + </button>
          <label for="description"> Descricao: </label>

          <!-- geracao de campos para o form build de especificacoes -->
          <ng-container *ngFor="let form of productDescriptionForm; let i = index">
            <form [formGroup]="form">
              <div class="col-lg-12 row justify-content-between align-items-baseline mt-2">

                <div class="form-group col-lg-12 px-0 mx-0 row justify-content-between align-items-baseline">
                  <input formControlName="description" placeholder="Descricao" name="description" class="form-control col-lg-10">
                  <button
                  (click)="removeDescriptionForm(i)"
                  class="btn btn-outline-danger col-lg-1"> &times; </button>
                </div>

              </div>
            </form>
          </ng-container>

        </div>
      </div>

      <button
      [disabled]="productForm.invalid"
      (click)="finishForm($event)"
      class="btn btn-primary"> Cadastrar Produto </button>
    </ng-container>

  </div>
</section>
